.booking {
    height: 675px;
    &__wrapper {
        
        display: grid;
        grid-template-columns: 564px 475px;
        padding: 100px 0 50px 0;
        gap: 72px;
    }
    &__left {
        padding-top: 62px;
    }
    &__title {
        font-family: 'Banny Round';
        font-size: 36px;
        line-height: 48px;
        text-transform: uppercase;
        text-align: center;
        
    }
    &__divider {
        margin: 5px 0;
        position: absolute;
        content: '';
        width: 60px;
        height: 5px;
        background: $main-color;
        border-radius: 5px;
        margin-left: 250px;
        
    }
    &__form {
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        button {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        input {
            border-radius: 5px;
            width: 277px;
            height: 60px;
            background-color: #e5e5e5;
            border: none;
            padding: 0 20px;
            color: #4B4B4B;
            font-weight: 300;
        }
    }
    &__btn {
        width: 564px;
        height: 60px;
        color: #ffffff;
        background-color: $main-color;
        border: none;
        border-radius: 5px;

    }
    &__photo {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: 250px;
            height: 250px; 
            border-radius: 5px;
            border: 20px solid $main-color;
            top: 25%;
            right: -25%;
            } 
            img {
                border-radius: 5px;
                filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.5));
            }     
        }
    .timetable {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
        font-size: 12px;
        color: #333333;
    }

}