.carousel {
    background: url('../../img/specialty\'s-bg.jpg')  center (center/cover) no-repeat;
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    &____specialties{
        width: 1280px;
        margin: 0 auto;

    }
    &__subtitle {
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        padding-top: 50px;
        letter-spacing: 0.5em;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 475px 600px;
        grid-template-rows: 475px;
        column-gap: 20px;
        padding-left: 148px;  
        margin-top: 50px;
        
    }
    &__photo {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 250px;
            height: 250px; 
            border-radius: 5px;
            border: 20px solid $main-color;
            top: 30%;
            left: -113px;
        }
        img {
            border-radius: 5px;
        }
    }
    
    &__descr {
        width: 100%;
        text-align: center;
        color: #ffffff;
        margin-top: 100px;
        &-title {
            font-size: 36px;
            line-height: 48px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Banny Round';
            
        }        
        &-text {
            font-size: 18px;
            line-height: 28px;
            margin-top: 25px;
        }
        
    }
    &__divider {
        
        margin: 5px 0 ;
        content: '';
        width: 60px;
        height: 5px;
        background: $main-color;
        border-radius: 5px;
        left: 50%;
        transform: translateX(420%);
    }
}

.slick-prev {
    position: absolute;
    border: none;
    background: none;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    
    img{
        width: 31px;
        height: 50px;
    }
}
.slick-next {
    position: absolute;
    border: none;
    background: none;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    img{
        width: 31px;
        height: 50px;
    }
}