.sidepanel{
    position: absolute;
    width: 250px;
    height: 20px;
    top: 450px;
    left: -40px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
    transform: rotate(-90deg);
}