.title {
    
    /* font-weight: bold;
    font-size: 36px;
    line-height: 60px; */
    /* &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }*/
    &_fz_12 {
        font-size: 12px;
        line-height: 14px;
    } 
    &_fz_36{
        font-size: 36px;
        line-height: 48px;
    }
    &_fz96 {
        font-size: 96px;
    font-weight: bold;
    }
  
}